
<p *ngIf="users?.length === 0"> No users to display</p>

<form novalidate [formGroup]="form" autocompete="off" (ngSubmit)="onSubmit(form)">
  <label>Name: <input type="text" formControlName="name"></label>
  <label>Email: <input type="text" formControlName="email"></label>
  <label>Telephone number: <input type="text" formControlName="telephone_number"></label>
  <button type="submit" class="button-primary">Add user</button>
</form>


<button class="button" (click)="deleteUser(selectedUser)">Delete User</button>
<button class="button" (click)="updateUser(form)">Update User</button>
<p *ngIf="errorMessage" [innerHTML]="errorMessage"></p>

<br>
  <counter [counterData]="users"  [currentSelected]="selectedUser" (counterChange)="displayUserRecord($event)"></counter>
<br>

<h6>Current Selected User</h6>
<pre style="background-color: #eee">
  Name: {{selectedUser?.name}}
  Email: {{selectedUser?.email}}
  Telephone number: {{selectedUser?.telephone_number}}
</pre>


<h6>All Users</h6>
<pre style="background-color: #eee">
{{users | json}}
</pre>

<h6>Form value</h6>
<pre style="background-color: #eee">
{{form?.value | json}}
</pre>