
<p *ngIf="users?.length === 0"> No users to display</p>


<h6>Current Selected User</h6>

{{selectedUser | json}}
<br>
<counter [counterData]="users"  [currentSelected]="selectedUser" (counterChange)="displayUserRecord($event)"></counter>

<br>
<button class="button-primary" (click)="addUser()">Add user</button>
<button class="button" (click)="deleteUser(selectedUser)">Delete User</button>
<button class="button" (click)="updateUser(selectedUser)">Update User</button>
<p *ngIf="errorMessage" [innerHTML]="errorMessage"></p>

<pre style="background-color: #eee">
{{users | json}}
</pre>